<h1>Welcome!</h1>
<div class="container">
    Welcome {{name}}. You can manage the customers <a routerLink="/customers">here</a>
</div>
<div class="container">
    Click here to get a customized welcome message<br>
    <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>&nbsp;
    <button (click)="getWelcomeMessageWithPathVariable()" class="btn btn-success">Get Welcome Message With Path Variable</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h3>Your customized welcome message</h3>
    {{welcomeMessageFromService}}
</div>
