
<div class="container">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="card mt-5">
    <div class="card-header">
            <h1>Customers Manager</h1>
    </div>
    <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- like: for(Customer customer: customers) { -->
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.birthDate | date | uppercase}}</td> <!-- | : pipe (use to convert one field format to another format) -->
                <td>{{customer.email}}</td>
                <!-- <td><button (click)="updateCustomer(customer.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteCustomer(customer.id)" class="btn btn-warning">Delete</button></td> -->
                <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-success active btn-sm">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="updateCustomer(customer.id)"> Update
                    </label>
                    <label class="btn btn-danger btn-sm">
                      <input type="radio" name="options" id="option2" autocomplete="off" (click)="deleteCustomer(customer.id)"> Delete
                    </label>
                  </div></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card-footer">
        <button (click)="addCustomer()" class="btn btn-primary float-right">Add</button>
</div>
</div>
</div>