<h1>Customers Manager</h1>
<div class="container">
    <div class="alert alert-success" *ngIf='message'>{{message}}</div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- like: for(Customer customer: customers) { -->
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.birthDate | date | uppercase}}</td> <!-- | : pipe (use to convert one field format to another format) -->
                <td>{{customer.email}}</td>
                <td><button (click)="updateCustomer(customer.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteCustomer(customer.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <button (click)="addCustomer()" class="btn btn-primary">Add</button>
    </div>
</div>