<h1>Customers Manager</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- like: for(Customer customer: customers) { -->
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.birthDate | date | uppercase}}</td> <!-- |: pipe (use to convert one field format to another format) -->
                <td>{{customer.email}}</td>
            </tr>
        </tbody>
    </table>
</div>